include nav_mixins

nav.navbar-alt.navbar-light.navbar-toggleable-md
	button.navbar-toggler.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarTogglerDemo02.collapse.navbar-collapse.navbar-alt-collapse
		.form-inline.mr-auto.mt-2.mt-md-0
		+nav_rhs(user_data, loggedin)