.conversation-wrap {
    box-shadow: -2px 0 3px #ddd;
    padding: 0;
    max-height: 400px;
    overflow: auto;
}
.conversation {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}
.message-wrap {
    box-shadow: 0 0 3px #ddd;
    padding: 0;
}
#chat_container {
    margin-top: 10px;
}
.msg {
    padding: 5px;
    /*border-bottom:1px solid #ddd;*/
    
    margin: 0;
}
.msg-wrap {
    padding: 10px;
    /*height: 100px;*/
    
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}
.time {
    color: #bfbfbf;
}
.send-wrap {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
    height: 60px;
    width: 100%;
    /*background: #f8f8f8;*/
}
#messagebox {
    display: inline-block;
    margin: 0px;
    min-width: 200px;
}
.send-message {
    resize: none;
}
.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.send-message-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-panel {
    background: #f7f7f9;
}
.btn-panel .btn {
    color: #b8b8b8;
    transition: 0.2s all ease-in-out;
}
.btn-panel .btn:hover {
    color: #666;
    background: #f8f8f8;
}
.btn-panel .btn:active {
    background: #f8f8f8;
    box-shadow: 0 0 1px #ddd;
}
.btn-panel-conversation .btn,
.btn-panel-msg .btn {
    background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child {
    border-right: 1px solid #ddd;
}
.status-circle {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.green {
    background-color: #6de16d;
}
#chat_header {
    /*height: 100px;*/
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.msg-wrap .media-heading {
    color: #003bb3;
    font-weight: 700;
}
#contact_details {
    margin: 20px 0px 20px 20px;
    display: inline-block;
}
.msg-date {
    background: none;
    text-align: center;
    color: #aaa;
    border: none;
    /*box-shadow: none;*/
    
    border-bottom: 1px solid #ddd;
}
#contact_photo {
    margin: 5px 10px 5px 0px;
    height: 80px;
    width: 80px;
}
@media (max-width: 360px){
    #contact_photo {
        height: 50px;
        width: 50px;
    }
    #contact_details {
        margin: 20px 5px;
    }
}
.media.conversation img,
#contact_photo {
    border-radius: 50%;
}
.message-list-box {
    margin:5px;
}
.contact_photo.sm {
    margin: 5px;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 960px) {
    .conversation-wrap {
        display: none;
    }
}
