include nav_mixins

nav.navbar.navbar-inverse.navbar-toggleable-md
	button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	a.navbar-brand(href='/') dinno.club
	#navbarTogglerDemo02.collapse.navbar-collapse

		#head-nav.form-inline.mr-auto.mt-2.mt-md-0
	
			.head-nav-container
				form(method="get" action="/search").form-inline
					input.form-control.mr-sm-2#navsearchbar(name='food' placeholder='Search for Food' value=food)
					input.form-control.mr-sm-2#navsearchbarlocation(name='location' placeholder='Location' value=location)
					input(type='hidden', name='lat')
					input(type='hidden', name='lng')
					#in-the-searchbar-right
						i.fa.fa-location-arrow#locationarrow(aria-hidden='true' data-toggle="tooltip" data-placement="bottom" title="Find your location")

					button.btn.btn-outline-success.my-2.my-sm-0#navsearchbutton(type='submit') 
						i.fa.fa-search(aria-hidden='true')

			//- else
			//- 	.mr-auto.mt-2.mt-md-0
		+nav_rhs(user_data, loggedin)
	script(src='assets/navbar-location.js')