//- script(src='/javascripts/app.js')
script(src='/jquery/dist/jquery.min.js')
script(src='/tether/dist/js/tether.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='/js-cookie/src/js.cookie.js')
script(src='/es6-promise/es6-promise.js')

//- assets
script(src='/assets/coordinates/coordinates-basefunctions.js')
script(src='/assets/check_active.js')