//- script(src='/javascripts/app.js')
script(src='/jquery/dist/jquery.min.js')
script(src='/tether/dist/js/tether.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script
  include ../assets/js-cookie.js
//- assets
script(src='/assets/coordinates/coordinates-basefunctions.js')