extends layout

block container

	include includes/nav
	.container 
		.row
			#container
				center
					img(src=new_item.image width="600px")
					br
					br
					h3 Well would you look at that!
					p
					| #{new_item.name} is now added into dinno.club. It won't be long until someone hits<br> you up about it!
					br
					br
					button.btn.btn-outline-danger(onclick='/#{new_item.id}') Take me there!