extends layout

block container
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

	include includes/nav
	.container 
		.row
			#container
				center
					if edit
						img(src=new_item.image width="600px")
						br
						br
						h3 Well would you look at that!
						p
						| #{new_item.name} has been updated!
						br
						br
						a.btn.btn-outline-danger(href='/fooditem?id='+new_item.id) Take me there!
					else
						img#foodimageurl(src=new_item.image width="600px")
						br
						br
						h3#lovelymsg Well would you look at that!
						p#smallmsg #{new_item.name} is now added into dinno.club. It won't be long until someone hits<br> you up about it!
						br
						br
						a.btn.btn-outline-danger(href='/fooditem?id='+new_item.id) Take me there!			