extends layout

block container
	script(src='/socket.io/socket.io.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

	include includes/nav
	.container 
		form(method="post")
			.row
				.col-lg-6
					#container
						h1 Edit Fooditem
						.form-group
							label(for='Food Name') Food Name
							input#exampleInputEmail1.form-control.food-name(name="forename" type='foodname', placeholder='Lettuce' value="saiusages")
						.form-group
							label(for='exampleSelect1') Food Type
							select#exampleSelect1.form-control(name="foodtype")
								option Meal
								option Ingredient
						.form-group
							label(for='exampleTextarea') Description
							textarea#description.form-control(rows='3' maxlength="140" name="description")
						.form-group
							label(for='Food Name') Location
							input#exampleInputEmail1.form-control(name="location" type='location', placeholder='Durham, UK')
						.form-group
							label(for='Food Name') Item Expiry Date
							input#exampleInputEmail1.form-control(name="location" type='location', placeholder='Durham, UK')
						.form-group
							label(for='Food Name') Tags
							input#exampleInputEmail1.form-control(name="location" type='location', placeholder='Durham, UK')

						
				.col-lg-4
					#container
						.form-group#pictureupload
							#upload_img_container
								input(id="input_images" name='images' type="file" multiple="true")
						//- request button
						button.btn.btn-primary.btn-lg.btn-block#submitter( type='submit' value="Submit") Update Fooditem
			.row
				.col-xl-10
					.container
						div
							hr
						h3 Preview
			.row
				//- will need to generate a client side version to manipulate this
				include /assets/fooditem-container
			.col-xl-10
				.container
					div
						hr
				//- request button
				button.btn.btn-primary.btn-lg.btn-block#submitter( type='submit' value="Submit") Update Fooditem
	script
		include assets/upload.js
