extends layout

block container

	include includes/nav
	.container 
		.row
			.col-lg-10
				#container
					h1 Help/FAQs
					p.text-muted Help and questions on using the Dinno site.
					
					//Faqs panel
					.panel-group
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse1") How do you search for fooditems on Dinno?
							#collapse1.panel-collapse.collapse
								.panel-body
									p To search for a food item near you, type the name of the food into the <b>left-hand search box</b>, situated either on the navigation bar or on the front page of the website.
									p Then, if the right-hand box has not already been filled with your location, try pressing the location button (Arrow) or simply type your address in manually.
									p Then, press the enter button or, if on mobile devices, press the search button on your on-screen keypad.
									p This will take you to the search results page, where the results found will be shown in a list on the left, as well as on the map to the right.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse2") How do you claim a fooditem from another user?
							#collapse2.panel-collapse.collapse
								.panel-body
									p To claim an item from another user, first find the item via the search function (as detailed above). Then, click on the name of the item to get to the fooditem page.
									p Once on the food item's page, click 'Dinno This' and you will claim the item. You can then message the user to organise collection.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse3") How do you add a fooditem to Dinno?
							#collapse3.panel-collapse.collapse
								.panel-body
									p To add a fooditem to the system so that it can be shared with others, select <b>Add</b> on the navigation bar. Then, fill in the details for your item.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse4") How do you view your added fooditems?
							#collapse4.panel-collapse.collapse
								.panel-body
									p To view food items that you have added to Dinno, select <b>Dinnos</b> on the navigation bar. Then make sure 'Posted By You' is selected. 
									| You should then see a list of your food items.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse5") How do you edit a fooditem that you have added?
							#collapse5.panel-collapse.collapse
								.panel-body
									p First, locate your Dinnos as described in 'How do you view your added fooditems?'
									p Now, as long as your Dinno has not already been claimed by another user, then you should be able to edit your fooditem by pressing the 'Edit' button under your item.
									p Else, if your item has been claimed then you can message the claiming user to let them know of any changes to your Dinno's details.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse6") How do you remove a fooditem that you have added?
							#collapse6.panel-collapse.collapse
								.panel-body
									p First, locate your Dinnos as described in 'How do you view your added fooditems?'
									p Now, as long as your Dinno has not already been claimed by another user, then you should be able to edit your fooditem by pressing the 'Remove' button under your item.
									p Else, if your item has been claimed then you can message the claiming user to let them know that your dinno is now unavailable.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse7") How do you view fooditems that you have claimed from others?
							#collapse7.panel-collapse.collapse
								.panel-body
									p To view food items that you claimed from other users, select <b>Dinnos</b> on the navigation bar. Then make sure 'Claimed by You' is selected. 
									| You should then see a list of food items claimed from other users.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse8") How do you rate a fooditem that you have claimed from another user?
							#collapse8.panel-collapse.collapse
								.panel-body
									p To rate a fooditem that you have claimed, select <b>Dinnos</b> on the navigation bar. Then make sure 'Claimed by You' is selected. 
									| Then, click on the star-bar how many stars you want to give the item, and click the 'Change Rating' Button.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse9") How do you cancel a claim for an item?
							#collapse9.panel-collapse.collapse
								.panel-body
									p To cancel a fooditem that you have claimed, select <b>Dinnos</b> on the navigation bar. Then make sure 'Claimed by You' is selected. 
									| Then, click 'cancel' and this item will no longer be claimed by you.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse10") How do you contact another Dinno user?
							#collapse10.panel-collapse.collapse
								.panel-body
									p To contact a specific user via the dinno messaging system, select <b>Messages</b> on the navigation bar.
									p Then, in the box, 'search for a user', type in the name of the user you want to contact. This should cause their name to appear. If you click on this name, a chat window for messaging this user should appear.
									p Now, just type in the 'Write a Reply' box to send a message to this user!
									p Also, while in the chat window, if you click on their profile picture on the right hand side, you will be sent to that user's profile!
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse11") How do I report a user?
							#collapse11.panel-collapse.collapse
								.panel-body
									p To report a user for Misleading Food Descriptions, Harassment or any other activities which are in breach of our terms of service, first locate the user's profile via the messaging function as described above.
									p Then, press the button 'Report me' (Note that Admins or suspended users acnnot be reported).
									p Now, fill in the details and press Submit.
									p Once your report has been verified by our admins, you will be sent a message from an admin confirming that your report has been verified!
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse12") How do I view reports made against me?
							#collapse12.panel-collapse.collapse
								.panel-body
									p To view any reports made against you, find your profile by clicking your <b>Profile Image</b> on the navigation bar, then, pressing <b>Profile</b>.
									p Then, press the button 'View Report History'.
									p Here, you can see both reports that have been verified by our admins, as well as reports that have been unverified.
									p Verified reports appear on your profile, and 5 verified reports will lead to your account being suspended.
						.panel.panel-default
							.panel-heading
								h4.panel-title
									a.panellink(data-toggle="collapse" href="#collapse13") What is the Dinno RecommendationsBot?
							#collapse13.panel-collapse.collapse
								.panel-body
									p The Dinno RecommendationsBot is a handy helper who, every time you visit Dinno, sends you a personalised recommendation on how to reduce your food waste!
									
						
		