extends layout
//- Name: 'Birds',
//-   Description: 'They keep me up at night. Free to a good home.',
//-   Image: 'http://i.imgur.com/RIi7RlF.png',
//-   HouseNoName: 'Bill Bryson Library',
//-   Street: 'South Road',
//-   Latitude: 54.7683,
//-   Longitude: -1.57322,
//-   Firstname: 'Thien',
//-   Surname: 'Nguyen',
//-   ProfileImage: 'http://i.imgur.com/fzYJAEz.png',
//-   Rating: 5 }

block container
	include includes/nav
	.row#fooditem
		include /assets/fooditem-container