doctype html
html(lang="en")
  head
    title Dinno
    include includes/head
  body(style='background-image: url("' + background + '"); background-size: cover;')
    include includes/alt-nav
    #frontpage-container.jumbotron
      h1.frontpage-logo-banner dinno.club
      p
        | Look for free food from our lovely humans.
      p
        include assets/big_search
      p.center
        if tip
          a(href=tip.link) #{tip.msg}
    #frontpage_showcase
     .card-columns#frontpage-card-cols
      each val in backgrounds
        .card
          img.card-img-top.frontpage-img-card(src=val)
    .frontpage_showcase_overlay
      
    include includes/login
    script
      include assets/js-cookie.js
      include assets/frontpage.js

