extends layout

block container
	include includes/nav

	.container-padder
		.col-sm-12.container-vp
			.user-fooditem-cardlist 
				h1.manage-header Manage Dinnos
	.row.container-padder(style='padding-right: 0px;margin-right: 0px;')
		.col-md-3.container-vp
			.user-fooditem-cardlist
				.sort-select-optiontype
					.btn-group(role='group', aria-label='Dinno Type')
						button.btn.btn-primary(type='button') Others
						|  
						button.btn.btn-secondary(type='button') Yours

				ul.list-group
					a.list-group-item.active(href='#').justify-content-between
						| Requested
						span.badge.badge-default.badge-pill 2
					a.list-group-item(href='#').justify-content-between
						| Active
						span.badge.badge-default.badge-pill 5
					a.list-group-item(href='#').disabled.justify-content-between
						| History
						span.badge.badge-default.badge-pill 25
		.col-md-8.container-vp
			.user-fooditem-cardlist 
				.card
					.card-header
						ul.nav.nav-pills.card-header-pills
							li.nav-item
								a.nav-link.active(href='#') Recent
							li.nav-item
								a.nav-link(href='#') Alphabetical
							li.nav-item
								a.nav-link.disabled(href='#') Expiry Date
					.card-block
						.card
							each fooditem in posted
								.row
									.col-xl-4
										img.h-100(src=fooditem.Image)
									.col-md-6
										.card-block
											h4.card-title fooditem.Name
											p.card-text
												| fooditem.Description
											//- span.badge.categoriestags Hot
											//- span.badge.categoriestags Hot
											//- span.badge.categoriestags Hot
											//- span.badge.categoriestags Hot
											

									.col-md-2.btn-group-vertical
										a.btn.btn-link.btn-sm(href='#') Chat
										a.btn.btn-link.btn-sm(href='#') Edit
										a.btn.btn-link.btn-sm(href='#') Delete
										a.btn.btn-link.btn-sm(href='#') Cancel
							else
								h4 No Dinnos posted!
						.card
							each fooditem in received
								.row
									.col-xl-4
										img.h-100(src=fooditem.Image)
									.col-md-6
										.card-block
											h4.card-title fooditem.Name
											p.card-text
												| fooditem.Description
											//- span.badge.categoriestags Hot
											//- span.badge.categoriestags Hot
											//- span.badge.categoriestags Hot
											//- span.badge.categoriestags Hot
											

									.col-md-2.btn-group-vertical
										a.btn.btn-link.btn-sm(href='#') Chat
										a.btn.btn-link.btn-sm(href='#') Edit
										a.btn.btn-link.btn-sm(href='#') Delete
										a.btn.btn-link.btn-sm(href='#') Cancel
							else 
								h4 No Dinnos received!
