extends layout

block container
  include includes/nav
  script.
    var fooditems = !{JSON.stringify(fooditems).replace(/<\//g, '<\\/')}

  .container-padder
    .col-sm-12.container-vp
      .user-fooditem-cardlist 
        h1.manage-header Manage Dinnos

  .row.container-padder(style='padding-right: 0px;margin-right: 0px;')

    .col-lg-12.container-vp
      .user-fooditem-cardlist#fooditemlist
        .card
          .card-header
            select#isYours(name="isYours")
              option(value="Yours") Yours
              option(value="Others") Others
            select#sortBy(name="sortBy")
              option(value="Recent") Recent
              option(value="A-Z") A-Z
              option(value="Expiry") Expiry



          .card-block#itemdata
            //- .container-vp
            //-   .card
            //-     .row
            //-       .col-md-12
            //-         img.h-100.block-left(src='https://placeholdit.imgix.net/~text?txtsize=38&txt=200%C3%97400&w=200&h=200')
            //-         .card-block.item-details
            //-           h4.card-title Hot dogs
            //-           p.card-text
            //-             | Something about Chicken!
            //-           span.badge.categoriestags Hot
            //-           span.badge.categoriestags Hot
            //-           span.badge.categoriestags Hot
            //-           span.badge.categoriestags Hot

            //-     .card-footer.text-muted 
            //-       .btn-group
            //-           a.btn.btn-link.btn-sm(href='#') Chat
            //-           a.btn.btn-link.btn-sm(href='#') Edit
            //-           a.btn.btn-link.btn-sm(href='#') Delee
            //-           a.btn.btn-link.btn-sm(href='#') Cancel

            //- .container-vp
            //-   .card
            //-     .row
            //-       .col-sm-4
            //-         img.h-100(src='https://placeholdit.imgix.net/~text?txtsize=38&txt=200%C3%97400&w=200&h=200')
            //-       .col-md-8
            //-         .card-block
            //-           h4.card-title Hot dogs
            //-           p.card-text
            //-             | Something about Chicken!
            //-           span.badge.categoriestags Hot
            //-           span.badge.categoriestags Hot
            //-           span.badge.categoriestags Hot
            //-           span.badge.categoriestags Hot
                      

            //-         .btn-group
            //-           a.btn.btn-link.btn-sm(href='#') Chat
            //-           a.btn.btn-link.btn-sm(href='#') Edit
            //-           a.btn.btn-link.btn-sm(href='#') Delete
            //-           a.btn.btn-link.btn-sm(href='#') Cancel

  script
    include assets/manage.js
  if defaultToggle
    script(type='text/javascript')
      |if (#{defaultToggle}) {
      | toggleSearchItemRequestType(true);
      |}
  else
    script(type='text/javascript')
      |if (#{defaultToggle}) {
      | toggleSearchItemRequestType(false);
      |}