extends layout

block container
  include includes/nav
  script.
    var fooditems = !{JSON.stringify(fooditems).replace(/<\//g, '<\\/')}
    var user_data = !{JSON.stringify(user_data).replace(/<\//g, '<\\/')}

  .container-padder
    .col-sm-12.container-vp
      .user-fooditem-cardlist 
        h1.manage-header Manage Dinnos

  .row.container-padder(style='padding-right: 0px;margin-right: 0px;')

    .col-lg-12.container-vp
      .user-fooditem-cardlist#fooditemlist
        .card
          .card-header
            span.manage-label Posted By:
            select.manage-select#isYours(name="isYours")
              option(value="You") You
              option(value="Others") Others
            span.manage-label Sort By:
            select.manage-select#sortBy(name="sortBy")
              option(value="Recent") Recent
              option(value="A-Z") A-Z
              option(value="Expiry") Expiry
          .card-block#itemdata

  script
    include assets/manage.js