extends layout


block container
	script(src='/socket.io/socket.io.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	script
		include assets/upload.js
	include includes/nav
	.container 
		.row
			form(method="post", enctype="multipart/form-data")
			.col-lg-6
				#container
					h1 Add Fooditem
					.form-group
						label(for='Food Name') Food Name
						input#exampleInputEmail1.form-control(name="forename" type='name', placeholder='First Name')
					.form-group
						label(for='exampleInputEmail1') Email address
						input#exampleInputEmail1.form-control(name="email" type='email', placeholder='you@email.com')
						small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
					.form-group
						label(for='exampleInputPassword1') Password
						input#exampleInputPassword1.form-control(name="pass" type='password', placeholder='Password')
						small#passwordHelpBlock.form-text.text-muted Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
			.col-md-4
				#container
					.form-group
						.upload_img_container
						input(type="file", name="displayImage")
					.form-group.barcode-scanner-container
						h3 Add Barcode Scanner Stuff Here
					//- request button
					button.btn.btn-primary.btn-lg.btn-block(type='button') Add Fooditem