extends layout


block container
	script(src='/socket.io/socket.io.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

	include includes/nav
	.container 
		form(method="post")
			.row
				.col-lg-6
					#container
						h1 Report User: #{recipient_data.name} 
						img(src=recipient_data.profileImage)#profilephoto
						.form-group
							label(for='exampleSelect1') Reason
							select#exampleSelect1.form-control(name="reason")
								option Misleading Food Descriptions
								option Dangerous/Harmful Food Items
								option Harassment
								option Other
						.form-group
							label(for='exampleTextarea') Comments
							textarea#description.form-control(rows='3' maxlength="140" name="comment")
							//- small#passwordHelpBlock.form-text.text-muted Please elaborate on your reasons for reporting this user in no more than 400 characters.
						//- request button
						button.btn.btn-primary.btn-lg.btn-block#submitter( type='submit' value="Submit") Submit Report
						