extends layout

block container
  include includes/nav
  //- search options
  .modal.fade#search-options-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form#filters
          .modal-header
            h5#exampleModalLabel.modal-title Search Options
            |  
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body  
            .form-group.row
              label.col-sm-3.col-form-label Fooditems
              .col-sm-9
                .form-check.form-check-inline
                  label.form-check-label
                    input#inlineCheckbox1.form-check-input(type='checkbox', name='meal')
                    |  Meal
                .form-check.form-check-inline
                  label.form-check-label
                    input#inlineCheckbox2.form-check-input(type='checkbox', name='ingredient')
                    |  Ingredient
            .form-group.row
              label.col-sm-3.col-form-label Radius
              .col-sm-9
                .range-slider
                  input.range-slider__range(name='radius', type='range', value='5', min='0', max='50')
                  |  
                  span.range-slider__value 0
            .form-group.row
              label.col-sm-3.col-form-label Tags
              .col-sm-9
                input#tag.form-control.tag-textbox-container(input='text',data-role='tagsinput',name='tags')

          .modal-footer
            .container
              .row
                .col-xs-8.modal-foot-text
                  small
                    i
                      | Clicking 
                      b Update Search
                      |  will reload the page.
                .col-sm-1

                .col-xs-3
                  button.btn.btn-primary.r-align Update Search

  .modal.fade#search-filters-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Search Filters
          |  
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body  
          form#filtering
            .form-group.row
              label.col-sm-3.col-form-label Best Before
              .col-sm-9
                input.form-control#bestBefore.filter(type='date', value='2017-02-19')
            .form-group.row
              label.col-sm-3.col-form-label Sort By
              .col-sm-9
                select(name="orderBy")#orderBy.filter.form-control
                  option(value='A-Z') Alphabetical Order (A-Z)
                  option(value='nearest') Nearest Items First
                  option(value='freshest') Freshest Items First
        .modal-footer
          small
            i Filtering will be live, so the page won't reload.
  //- search results
  .container-fluid#display_item_results
    #mobile_details_handler
    .row.display-item-results-baby
      .col-6.no-float#results_container_left
        #search_item_details 
          if results.food
            h1 Searching for #{results.food} 
          else
            h1 Searching for anything
          #search_item_buttons
            button.btn.btn-primary#searchOptionsButton(data-toggle='modal', data-target='#search-options-modal') Options
            button.btn.btn-primary#searchFiltersButton(data-toggle='modal', data-target='#search-filters-modal') Filters
        #list_results_container
          #dud_spacing
          if results.food
            #itemCountMsg Theres 100 items found for #{results.food}. 
          else
            h5#itemCountMsg Theres 100 assorted dinnos found around you! 
          .row#fooditem_results_card
            each fooditem in results.fooditems
              .col-md-6.col-lg-4
                +fooditem_card(fooditem)
      .col-6.embed-responsive#results_container_right
        #map-canvas.embed-responsive-item  
  script(src='/assets/searchresult-mobile.js')
  script.
    var k = "#{results.tags}".split(",")
  script(src='/assets/searchresult-filters.js')
  script(src='/assets/searchresult-misc.js')
  script(src='assets/map.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoolQNICyc37wST4Zb_4KN378HnkeymL8&callback=initMap')