extends layout

block container
	script
		include assets/map.js
	script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoolQNICyc37wST4Zb_4KN378HnkeymL8&callback=initMap')


	include includes/nav
	//- divide into two columns
	.container-fluid#display_item_results
		.row
			.col.no-float#results_container_left
				#search_item_details 
					if food
						h1 Searching for #{food}
					else
						h1 Searching for ?
					#formHolder
						p
							| Lat: 
							span#lat
						p
							| Lng: 
							span#lng
						form
							span Location
							input#newName(type='text')
							br
							span Food
							input#food(type='text')
							br
				#list_results_container
					.card-columns
						.card
							img.card-img-top.img-fluid(src='https://media-cdn.tripadvisor.com/media/photo-s/04/cd/bd/99/kfc.jpg', alt='Card image cap')
							.card-block
								h4.card-title Card title that wraps to a new line
								p.card-text
									| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
						.card.p-3
							blockquote.card-block.card-blockquote
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
								footer
									small.text-muted
										cite(title='Source Title') Source Title
						.card
							img.card-img-top.img-fluid(src='https://media-cdn.tripadvisor.com/media/photo-s/04/cd/bd/99/kfc.jpg', alt='Card image cap')
							.card-block
								h4.card-title Card title
								p.card-text This card has supporting text below as a natural lead-in to additional content.
								p.card-text
									small.text-muted Last updated 3 mins ago
						.card.card-inverse.card-primary.p-3.text-center
							blockquote.card-blockquote
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
								footer
									small
										cite(title='Source Title') Source Title
						.card.text-center
							.card-block
								h4.card-title Card title
								p.card-text This card has supporting text below as a natural lead-in to additional content.
								p.card-text
									small.text-muted Last updated 3 mins ago
						.card
							img.card-img.img-fluid(src='https://media-cdn.tripadvisor.com/media/photo-s/04/cd/bd/99/kfc.jpg', alt='Card image')
						.card.p-3.text-right
							blockquote.card-blockquote
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
								footer
									small.text-muted
										cite(title='Source Title') Source Title
						.card
							.card-block
								h4.card-title Card title
								p.card-text
									| This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
								p.card-text
									small.text-muted Last updated 3 mins ago
				//- include includes/foot

			.col.embed-responsive#results_container_right
				#map-canvas.embed-responsive-item
