extends layout


block container
	//- script(src='/socket.io/socket.io.js')
	//- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

	include includes/nav
	.container 
		include includes/status
		form(method="post")
			.row
				.col-lg-6
					#container
						h1 Your Settings
						p.text-muted Any accessibility features or user-specific settings can be selected here.
						br
						.form-group
							label(for='exampleSelect1') Website Font Size
							select#exampleSelect1.form-control(name="textSize")
								if user_data.textSize == "1x"
									option(selected="selected") 1x
								else
									option 1x
									
								if user_data.textSize == "1.5x"
									option(selected="selected") 1.5x
								else
									option 1.5x
									
								if user_data.textSize == "2x"
									option(selected="selected") 2x
								else
									option 2x
							small#passwordHelpBlock.form-text.text-muted Set the standard font size for labels/text across the website.
						.form-group
							label(for='exampleSelect1') Website Color Scheme
							select#exampleSelect1.form-control(name="colourScheme")
								if user_data.colourScheme == "Default"
									option(selected="selected") Default (Pink)
								else
									option Default (Pink)
									
								if user_data.colourScheme == "Blue"
									option(selected="selected") Blue
								else
									option Blue
									
								if user_data.colourScheme == "Orange"
									option(selected="selected") Orange
								else
									option Orange
							small#passwordHelpBlock.form-text.text-muted Customise the colour scheme for the website.
							
						//- request button
						br
						button.btn.btn-primary.btn-lg.btn-block#submitter( type='submit' value="Submit") Update Settings
						