extends layout

block container

	include includes/nav
	.container 
		.row
			#container
				center
					h3 Your report on #{new_report.name} has been submitted!
					h6 Reason cited: #{new_report.reason}
					p
					| You will be alerted when your report has been verified by our admins.
					br
					br
					a(href="/profile?id=" + new_report.recipientId) Back to #{new_report.name}'s profile