extends layout

block container

	include includes/nav
	.container 
		.row
			.col-md-6#left
				#container
				img(src="http://assets.epicurious.com/photos/5761c748ff66dde1456dfec0/2:1/w_1260,h_630/crispy-baked-chicken-wings.jpg" style="margin-bottom: 20px" width="100%")
				h4 #{msg}
				p
				| Before you can use Dinno, we'll need you to verify your email address. A link will be in the message we sent which will verify you as a user. This way, we can help you recover your password, or send you important information about our work.