doctype html
html
  head
    title Register here
  body
    h1 This is a registration page
    p
      | check this shit out
    p
      | Here is an example url
    a(href="/comments/10") Comment with id 10