/* @override
	http://localhost:8080/style.css */
* {
	margin: 0;
	padding: 0;
}
body {
    background-color: #EFEFEF;
    /*display: flex;*/
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    color: #f9e6e5;
    color: #222;
}
